@page "/login"

<PageTitle>Login</PageTitle>

<div class="form-style-container">
    <div class="form-style-content">
        <label style="color:black !important">
            Username
            <input type="text"/>
        </label>
        <label style="color:black !important">
            Password
            <input type="password" placeholder=""/>
        </label>
        <button type="submit" style="background-color:black">Submit</button>
		    <a href="/register">I don't have an account</a>
	</div>
</div>