@page "/login"

<PageTitle>Login</PageTitle>

<div class="form-style-container">
    <div>
        <label>
            Username
            <input type="text"/>
        </label>
        <label>
            Password
            <input type="password" placeholder=""/>
        </label>
        <button type="submit">Submit</button>
		    <a href="/register">I don't have an account</a>
	</div>
</div>