@page "/register"
<div class="form-style-container">
    <div class="form-style-content">
        <label style="color:black !important">
            Username
            <input type="text" />
        </label>
        <label style="color:black !important">
            Password
            <input type="password" placeholder="" />
        </label>
        <label style="color:black !important">
            Password again
            <input type="password" placeholder="" />
        </label>
        <button type="submit">Submit</button>
        <a href="/login">I already have an account</a>
    </div>
</div>
