@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="dropdown">
                <button @onclick="ToggleDropdown" class="dropbtn">Profile</button>
                <div id="myDropdown" class="dropdown-content">
					<!-- TODO LOGINRA <a href="profile" style="text-decoration:none">Statistics</a>-->
					<a href="" style="text-decoration:none"><button>Friends</button></a>
					<a href="settings" style="text-decoration:none"><button>Settings</button></a>
                 </div>
            </div>
			<a style="text-decoration:none"><button>About</button></a>
			<a href="login" sstyle="text-decoration:none"><button>Login</button></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("dropdownHelper.registerOutsideClick");
        }
    }

    private async Task ToggleDropdown()
    {
        await JSRuntime.InvokeVoidAsync("dropdownHelper.toggleDropdown");
    }
}