@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="dropdown">
                <button @onclick="ToggleDropdown" class="dropbtn">Profile</button>
                <div id="myDropdown" class="dropdown-content">
					<!-- TODO LOGINRA <a href="profile" style="text-decoration:none">Statistics</a>-->
                    <a href="" style="text-decoration:none">Friends</a>
                    <a href="settings" style="text-decoration:none">Settings</a>
                    <a href="" style="text-decoration:none">Log out</a>
                </div>
            </div>
            <a style="text-decoration:none">About</a>
            <a style="text-decoration:none">TODO: Login</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("dropdownHelper.registerOutsideClick");
        }
    }

    private async Task ToggleDropdown()
    {
        await JSRuntime.InvokeVoidAsync("dropdownHelper.toggleDropdown");
    }
}