@using LeagueFriendLadder.Api.Models
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage
@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" style="background-color:#1e293b;font-size:20px;padding-top:25px">
        <a class="navbar-brand" href="" style="font-size:20px;padding-top:20px;text-decoration:none;">LeagueFriendLadder</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="text-align:center">
    <aside>
        <nav class="flex-column" style="text-align:center">
            <ul>
                <li>
                    <div class="nav-item px-3" style="text-align:center">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="text-align:center">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
				    </div>
			    </li>
                <li>
                    <div class="nav-item px-3" style="text-align:center">
                <NavLink class="nav-link" href="leaderboard">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Leaderboard
                </NavLink>
				    </div>
			    </li>
                <li>
                    <div class="nav-item px-3" style="text-align:center">
                <NavLink class="nav-link" href="listplayers">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Players
                </NavLink>
				    </div>
			    </li>
                <li>
                    @if (isUserAdmin)
                    {
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin">
                                <span class="bi bi-shield-lock-fill"></span> Admin Panel
                            </NavLink>
                        </div>
                    }
                </li>
		    </ul>
		</nav>
	</aside>
</div>

@code {
    private User? user;
    private bool isUserAdmin = false;
    protected override async Task OnInitializedAsync()
    {
        Nav.LocationChanged += HandleLocationChanged;
        await CheckAdminStatus();
    }
    private async void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await CheckAdminStatus();
        StateHasChanged();
    }
    private async Task CheckAdminStatus()
    {
        user = await LocalStorage.GetItemAsync<User>("user");
        isUserAdmin = user?.IsAdmin ?? false;
    }
    public void Dispose()
    {
        Nav.LocationChanged -= HandleLocationChanged;
    }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
