@page "/profile"

<PageTitle>Profile</PageTitle>


<h1>My statistics</h1>

<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Role</th>
            <th>Rank</th>
            <th>Winrate</th>
            <th>Games played</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="KDavid02">KDavid02</a></td>
            <td>Adc</td>
            <td>Master 739</td>
            <td>52.1%</td>
            <td>413</td>
        </tr>
    </tbody>
</table>