@page "/settings"

<PageTitle>Settings</PageTitle>


<h1>Settings</h1>

<div style="font-size:30px;">
	<label style="padding-top:10%;">Setting1</label>
	<br />
	<label style="padding-right:5px;padding-top:15px;">Off</label><input type="radio" name="radio1" checked="checked"/> <label>On</label> <input type="radio" name="radio1" /><br /><br />
	<label>Setting2</label>
	<br />
	<input type="checkbox" name="cb"/><br />
	<label>Setting3</label>
	<br />
	<label class="switch">
		<input type="checkbox">
		<span class="slider round"></span>
	</label>
</div>