@page "/settings"

<PageTitle>Settings</PageTitle>


<h1>Settings</h1>

<div>
	<label>Setting1</label>
	<label>Off <input type="radio" name="radio1" checked="checked" /><br /></label> <label>On <input type="radio" name="radio1" /><br /></label><br />
	<label>Setting2</label>
	<label>Example <input type="checkbox" name="cb" /></label>
	<label>Example <input type="checkbox" name="cb" /></label>
	<br/>
	<label>Setting3</label>
	<input type="checkbox" id="switch-1" name="switch-1" role="switch" checked>
</div>